<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/Login.css" />
<title>
    Dashboard
</title>


</head>
<body>
    <header>
        
        <style>
            table {
                
                
            }
        </style>
        <table>
            <tr>

                <td align="justify">
                    <div class="image">
                        <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/73422554_455239918436881_179287637335474176_n.jpg?_nc_cat=105&_nc_oc=AQmpabJdZit9Dh5kTic3rECSzW2zMyHTsmIxOpdqu4yLn6ajcu2trs_UUL11YeuD6pk&_nc_ht=scontent-atl3-1.xx&oh=a9edb9d595eb96eeaa40a630e1a4d213&oe=5E593091" alt="ALPS Logo" width="300" />
                    </div>
                </td>
                <td class="message">
                    <h1 style="width:100%; text-align:center">Welcome Sgt Star!</h1>
                </td>
                <td style="align-content:end;height:10px">
                    <div class="image">
                        <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/76693286_455239015103638_2909261999923789824_n.jpg?_nc_cat=109&_nc_oc=AQnGwBC44PbpHKhT5dB09MAyH8p-tDySMpgF-QXQU0TiD6iCFMpQ5OZ0Sz6BdjVBzNY&_nc_ht=scontent-atl3-1.xx&oh=299c5f84d91a4f121d440e2c5785d164&oe=5E61BDF4" />
                    </div>
                </td>


            </tr>
        </table>
    </header>
    <h3>Upcomming Leaves</h3>

    <div class="dash">


        <table class="table table-striped table-dark" style="width:50%">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Previous Requests</th>
                    <th scope="col">Upcoming Leaves</th>
                    <th scope="col">Current Requests</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a asp-area="" asp-controller="Leave" asp-action="Request1">REQ#1234</a></td>
                    <td>REQ#####</td>
                    <td>REQ#####</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>REQ#####</td>
                    <td>REQ#####</td>
                    <td>REQ#####</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>REQ#####</td>
                    <td>REQ#####</td>
                    <td>REQ#####</td>
                </tr>
            </tbody>

        </table>

    </div>

</body>
</html>